---
import Layout from '@/layouts/Layout.astro';

import SobreMi from '@/components/SobreMi.astro';
import Estudios from '@/components/Estudios.astro';
import Habilidades from '@/components/Habilidades.astro';
import Profiles from '@/components/Profiles.astro';
import Experiencia from '@/components/Experiencia.astro';
import Trabajos from '@/components/Trabajos.astro';
import Proyectos from '@/components/Proyectos.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';

---

<Layout title="Mi CV y Portafolio Personal">
	<main>
		<SobreMi />
		<Estudios />
		<Habilidades />
		<Profiles />
		<Experiencia />
		<Trabajos />
		<Proyectos />
	</main>
	
	<KeyboardManager />
</Layout>

<style></style>
